
{% extends 'v2/app/base_headless.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
    
    {% endblock content %}
    {% block script %}
        <script>
            var msg = "{{ msg }}";
        </script>
        <script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/scripts/register.js' %}"></script>
    {% endblock script %}