
{% extends 'v2/app/base_headless.html' %}
{% load site_title %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <form method="post">
                            {% csrf_token %}

							<p>We'll send the password reset instructions to your email.</p>
							<div class="form-group">
								{{ form.as_p }}
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<button type="submit" class="btn btn-primary btn-gradient btn-block">
								<i class="batch-icon batch-icon-mail"></i>
								Send Reset Instructions
							</button>
							<hr>
							<p class="text-center">
								Did You Remember Your Password? <a href="/login">Sign In</a>
							</p>
							<p class="text-center">
								Don't Have An Account? <a href="/register">Sign Up here</a>
							</p>
						</form>
    
    {% endblock content %}
    {% block script %}
        <script>
            var msg = "{{ msg }}";
        </script>
        <script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/scripts/register.js' %}"></script>
        <script>
        $(function(){
            $('#id_email').addClass('form-control');

        })
        </script>
    {% endblock script %}


