
{% extends 'v2/app/base_headless.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <p>
                            We've emailed you instructions for setting your password, if an account exists with the email you entered.
                            You should receive them shortly.
                          </p>
                          <p>
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                          </p>
    {% endblock content %}
    {% block script %}
        <script>
            var msg = "{{ msg }}";
        </script>
        <script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/scripts/register.js' %}"></script>
    {% endblock script %}