
{% extends 'v2/app/base_headless.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    
    {% if validlink %}
                            <form method="post">
                              {% csrf_token %}
                                <div class="form-group">
								{{ form.as_p }}
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
                              				<button type="submit" class="btn btn-primary btn-gradient btn-block">
								<i class="batch-icon batch-icon-mail"></i>
								Change password
							</button>
                            </form>
                          {% else %}
                            <p>
                              The password reset link was invalid, possibly because it has already been used.
                              Please request a new password reset.
                            </p>
                          {% endif %}
    
    {% endblock content %}
    {% block script %}
        <script>
            var msg = "{{ msg }}";
        </script>
        <script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/scripts/register.js' %}"></script>
		<script>
			$(function(){
				$('#id_new_password1').addClass('form-control');
				$('#id_new_password2').addClass('form-control');
			})
		</script>

    {% endblock script %}