{% load static %}

<!DOCTYPE html>
<html lang="en"
      class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
    {% include 'home/includes/head.html' %}
    <title>{% block title %}B2B Prospects {% endblock title %}</title>
    {% block extra_head %}

    {% endblock %}
</head>

<body class="">
<div class="wrapper">
    {% include 'home/includes/header.html' %}


    <div class="container">
        <br><br>

        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    <div class="row">
                        <div class="col-md-4">

                            <div style="background: #ffffff; padding: 0px; height: 100px;width:100%">

                                        <span style="font-size:80px; height: 100px; width:100px; padding:10px"
                                              class="icon icon-drawer bg-primary text-center pull-left"></span>
                                <div class="pull-left" style="height: 100px; padding: 5px 15px">
                                    <p class="panel-title">CURRENT PLAN</p>
                                    <h3 style="margin: 2px" class="text-info">STARTER</h3>
                                    <h4>$35 per seat per month</h4>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-4">

                            <div style="background: #ffffff; padding: 0px; height: 100px;width:100%">


                                        <span style="font-size:80px; height: 100px; width:100px; padding:10px"
                                              class="icon icon-user bg-warning text-center pull-left"></span>
                                <div class="pull-left" style="height: 100px; padding: 5px 15px">
                                    <p class="panel-title">SEATS</p>
                                    <h3 style="margin: 2px" class="text-info">1</h3>

                                </div>
                            </div>

                        </div>


                        <div class="col-md-4">

                            <div style="background: #ffffff; padding: 0px; height: 100px;width:100%">


                                        <span style="font-size:80px; height: 100px; width:100px; padding:10px"
                                              class="fas fa-dollar-sign bg-success pull-left text-center"></span>
                                <div class="pull-left" style="height: 100px; padding: 5px 15px">
                                    <p class="panel-title">COST</p>
                                    <h3 style="margin: 2px" class="text-info">$35</h3>
                                    <h4>Billed monthly</h4>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">


                        <div class="col-md-4 col-md-offset-4">

                            <div style="background: #ffffff; padding: 0px; height: 100px;width:100%">


                                        <span style="font-size:80px; height: 100px; width:100px; padding:10px"
                                              class="icon icon-wallet bg-danger text-center pull-left"></span>
                                <div class="pull-left" style="height: 100px; padding: 5px 15px">
                                    <p class="panel-title">PAYMENT METHOD</p>
                                    <h3 style="margin: 2px" class="text-info">Visa - - - - 3763</h3>
                                    <h4><a href="#">Change »</a></h4>

                                </div>
                            </div>

                        </div>


                    </div>

                    <br><br>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-success text-center">
                                        <div class="panel-heading ">
                                            <h3>STARTER</h3>
                                            <div class="panel-title">
                                                $35 / seat
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <p>Up to 500 results per search</p>
                                            <p>10 saved searches</p>
                                            <p>5 campaigns</p>
                                            <p>2 way communication</p>
                                            <p>Welcome message</p>
                                            <p>-</p>
                                            <p>-</p>
                                            <p>-</p>
                                            <p>-</p>

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-success">Selected</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-info text-center">
                                        <div class="panel-heading ">
                                            <h3>STARTER</h3>
                                            <div class="panel-title">
                                                $35 / seat
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <p>Up to 500 results per search</p>
                                            <p>10 saved searches</p>
                                            <p>5 campaigns</p>
                                            <p>2 way communication</p>
                                            <p>Welcome message</p>
                                            <p>Custom connect message</p>
                                            <p>Company & title search filter</p>
                                            <p>Withdraw invites</p>
                                            <p>-</p>

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-info">Select This Plan</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-info text-center">
                                        <div class="panel-heading ">
                                            <h3>STARTER</h3>
                                            <div class="panel-title">
                                                $35 / seat
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <p>Up to 500 results per search</p>
                                            <p>10 saved searches</p>
                                            <p>5 campaigns</p>
                                            <p>2 way communication</p>
                                            <p>Welcome message</p>
                                            <p>Custom connect message</p>
                                            <p>Company & title search filter</p>
                                            <p>Withdraw invites</p>
                                            <p>Export to CSV</p>

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-info">Select This Plan</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>


    </div>
    <footer><span>© 2017 - 2018, ProspectsGenerator.com</span></footer>
</div>


{% include 'home/includes/script.html' %}

{% block pagefooter %}

{% endblock %}


</body>

</html>