
{% extends 'v2/account/base.html' %}
{% load static %}

{% block title %}Messenger{% endblock title %}

{% block head %}

    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/css/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock head %}
{%block content%}
   	<div class="row mb-5">
        <div class="col-sm-4 col-md-3">
            <a class="btn btn-primary btn-gradient waves-effect waves-light" href="{% url 'account-messenger-add' pk=pk %}">ADD EXISTING CONNECTION CAMPAIGN</a>
        </div>
        <div class="col-sm-8 col-md-9">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Want to communicate with your existing network? Start new Messenger Campaign.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <ul>
                                <li>Set up steps with personalized automated messages for your first message or for a follow-up message, set another automated follow-up message if no response is received in a few days. This is done by clicking on the <u>Steps</u> tab inside the Messenger Campaign.</li>
                                <li>To add people from your network to the Messenger Campaign click on <u>My Network</u> in the top menu. Select people you would like to be added to Messenger Campaign and click 'Add selected people to Messenger Campaign', or add all filtered people by clicking 'Add all new people to Messenger Campaign'.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'v2/account/campaign/messenger_list.html' with object_list=object_list %}
{% endblock %}

{% block script %}

    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>

{% endblock %}
