.main-section{
  width: 350px;
  position: fixed;
  right:30px;
  bottom:-450px;
  z-index: 2;
}
.first-section:hover{
  cursor: pointer;
}
.open-more{
  bottom:0px;
  transition:2s;
}
.border-chat{
  border:1px solid #FD8468;
  margin: 0px;
}
.first-section{
  background-color:#FD8468;
}
.first-section p{
  color:#fff;
  margin:0px;
  padding: 10px 0px;
}
.first-section p:hover{
  color:#fff;
  cursor: pointer;
}
.right-first-section{
   text-align: right;
}
.right-first-section i{
  color:#fff;
  font-size: 15px;
  padding: 12px 3px;
}
.right-first-section i:hover{
  color:#fff;
}
.chat-section ul li{
  list-style: none;
  margin-top:10px;
  position: relative;
}
.chat-section{
  overflow-y:scroll;
  height:400px;
}
.chat-section ul{
  padding: 0px;
}
.left-chat img,.right-chat img{
  width:20px;
  height:20px;
  float:left;
  margin:0px 10px;
}
.right-chat img{
  float:right;
}
.second-section{
  padding: 0px;
  margin: 0px;
  background-color: #F3F3F3;
  height: 400px;
}
.left-chat,.right-chat{
  overflow: hidden;
}
.left-chat p,.right-chat p{
  background-color:#FD8468;
  padding: 10px;
  color:#fff;
  border-radius: 5px;
  float:left;
  width:60%;
  margin-bottom:20px;
}
.left-chat span,.right-chat span{
  position: absolute;
  left:70px;
  top:60px;
  color:#B7BCC5;
}
.right-chat span{
  left:45px;
}
.right-chat p{
  float:right;
  background-color: #FFFFFF;
  color:#FD8468;
}
.third-section{
  border-top: 1px solid #EEEEEE;
}
.text-bar input{
  width:90%;
  margin-left:-15px;
  padding:10px 10px;
  border:1px solid #fff;
}
.text-bar a i{
  background-color:#FD8468;
  color:#fff;
  width:30px;
  height:30px;
  padding:7px 0px;
  border-radius: 50%;
  text-align: center;
}
.left-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  left:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#FD8468;
}
.right-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  right:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#fff;
}

tr{
  cursor: pointer !important;
}


#campaign_people_filter {
    width:100% !important;
    float: right !important;

}
#campaign_people_filter label {
    width:40% !important;
    max-width:40% !important;
    float: right !important;


}
#campaign_people_filter label input {
    width:100% !important;
    max-width:100% !important;
    float: right !important;


}
