<header class="topnavbar-wrapper">
    <nav class="navbar topnavbar">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <div class="brand-logo"><h3>B2B Prospects</h3></div>
                <div class="brand-logo-collapsed"><img src="/static/images/logo-single.png" alt="App Logo"
                                                       class="img-responsive"></div>
            </a>
        </div>
        <div class="nav-wrapper">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-trigger-resize="" data-toggle-state="aside-collapsed" class="hidden-xs"> <em
                            class="fa fa-navicon"></em> </a>
                    <a href="#" data-toggle-state="aside-toggled" data-no-persist="true"
                       class="visible-xs sidebar-toggle"> <em class="fa fa-navicon"></em> </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="{% url 'logout' %}" title="Sign out"> <em class="icon-logout"></em></a>
                </li>
            </ul>
        </div>

    </nav>
</header>