<ul class="nav nav-tabs">
	  <li id="cname" class="pull-right col-md-4 col-sm-6 col-xs-6">
		<label class="switch pull-right" style="margin-top:6px">
		{% include 'app/includes/campaigns/switch_button.html' with object=object %}
		  
		</label>
		<h4 style="margin-top: 7px" class="text-right">{{object.title}} &nbsp;&nbsp;&nbsp;&nbsp;</h4>
	  </li>
	  <li class="active"><a href="#tab_1" data-toggle="tab">People</a></li>
	  <li><a href="#tab_2" data-toggle="tab">Steps</a></li>
	  <li><a href="#tab_3" data-toggle="tab">Settings</a></li>
	  <li><a href="#tab_4" data-toggle="tab">Stats</a></li>

	  
	</ul>