<div class="box {% if box_solid %}box-solid{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">Messenger campaigns</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding" id="bulk_campaigns_list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Contacts</th>
                <th>Replied</th>
            </tr>
            </thead>
            <tbody>
            {% for mc in object_list %}
                <tr>
                    <td><a href="{% url 'messenger-campaign' pk=mc.id %}">{{ mc.title }}</a></td>
                    <td>
                        {% include 'app/includes/campaigns/list_status.html' with mc=mc %}
                    </td>
                    <td>{{ mc.contacts.count }}</td>
                    <td>{{ mc.count_replies }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
	  