{% load i18n %}
	{% load widget_tweaks %}
	<div class="box">
	<div class="text alert-box"></div>
		<div class="box-body campaignsteps-row">

						
			{% for form in campaignsteps.forms %}
				<div class="{{ form.prefix }}-row" >
					{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                	{% endfor %}
                
                    <div class="form-group">
                    {{ form.DELETE }}
                    	
                    	{{ form.step_time.errors.as_ul }}
                    	{{ form.step_time }}
                    </div>
                     <div class="form-group">
                    	{{ form.message.errors.as_ul }}
                    	<label>Message {{ forloop.counter }}</label>
                    	{% render_field form.message placeholder='Your next message after the first message' %}
                    </div>           

                    
                </div>


                
            	{% endfor %}

				{{ campaignsteps.management_form }}


		</div>
{#                <input type="hidden" name="cpk" value="{{ pk }}">#}

    <input type="submit" class="btn btn-primary btn-block btn-save bg-primary bg-gradient" style="width: 210px !important;" name="save" value="SAVE">
	</div>            		
            		
    