
{% extends 'v2/app/base.html' %}
{% load site_title %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body product-page">
                <div class="row">
                    <div class="col-md-12">

                        
                        <p class="lead">
                            {% site_title %}  is a powerful tool to get leads from LinkedIn network, working for you on autopilot every single day
                        </p>
                        
                           
                                                
                        <h2>{{user.email}}</h2>
                        
                        <a href="{% url 'password_change' %}" class="btn btn-info">
                                 Change password
                            </a>
                        
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

