<div class="text-center">
    <div class="row">
        <div class="col-xs-2">
            <div class="progress-circle p80 over50">
                <span>80%</span>
                <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10">

            <br>
            <h4>Please wait while we sync your data <br> Please be patient. This may take a few minutes...</h4>
        </div>

    </div>

</div>