<div class="text-center">
    <div class="row">
        <div class="col-xs-2">
            <div class="progress-circle p20">
                <span>20%</span>
                <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10">
            <br>
            <br>
            <h4>Please wait while we connect to your account</h4>
        </div>
    </div>
</div>