<div class="progressbar_custom">
    <div class="progress_custom">
        <div class="circle_custom active">
            <span class="label_custom">1</span>
            <span class="title">Authentication</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">2</span>
            <span class="title">Verification</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">3</span>
            <span class="title">Sync</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">4</span>
            <span class="title">Activate</span>
        </div>

    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            <strong>
                You can not add user with this email and password. Please check the issues!
            </strong>
            <ul>
                <li>Account with this email is already exits</li>
                <li>User email and password not matched</li>
            </ul>
        </div>
    </div>
</div>

<script>
    $('#add_account').show();
    $('#modal-form').show();
</script>