<div class="progressbar_custom">
    <div class="progress_custom">
        <div class="circle_custom done">
            <span class="label_custom">1</span>
            <span class="title">Authentication</span>
        </div>
        <span class="bar_custom done"></span>
        <div class="circle_custom active">
            <span class="label_custom">2</span>
            <span class="title">Verification</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">3</span>
            <span class="title">Sync</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">4</span>
            <span class="title">Activate</span>
        </div>

    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-10">
        <h4 class="text-center">Please wait while we verify your account with pin</h4>
    </div>
</div>
