<div class="progressbar_custom">
    <div class="progress_custom">
        <div class="circle_custom done">
            <span class="label_custom">1</span>
            <span class="title">Authentication</span>
        </div>
        <span class="bar_custom done"></span>
        <div class="circle_custom active">
            <span class="label_custom">2</span>
            <span class="title">Verification</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">3</span>
            <span class="title">Sync</span>
        </div>
        <span class="bar_custom"></span>
        <div class="circle_custom">
            <span class="label_custom">4</span>
            <span class="title">Activate</span>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center mb-5">
    <div class="col-md-10">
         {% if error %}
            <p class="text-danger">The pin you entered is not correct. Please enter the latest pin</p>
        {% endif %}
        <form id="submit_pin_code">
             <div class="form-group">
                <label for="pin-code">PIN Verification: </label>
                <input type="text" class="form-control" id="pin-code" name="pin_code" value="" placeholder="Enter Your Pin"/>
            </div>
            <input type="button" id="pin_submit" class="btn btn-info btn-gradient pull-right" value="Submit PIN"/>
    </form>
    </div>
</div>
<script>
    localStorage.setItem('pin_code', 'no refresh');
    $("#submit_pin_code").validate({
        errorElement: "span",
        errorClass: "help-block help-block-error",
        focusInvalid: !1,
        ignore: "",
        rules: {
            pin_code: {
                required: true,
                minlength: 4,
                maxlength: 6,
                digits: true,
            }
        },
        errorPlacement: function (error, element) {
            let placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function (e) {
            $(e).closest(".form-group").addClass("has-error")
        },
        unhighlight: function (e) {
            $(e).closest(".form-group").removeClass("has-error")
        },
        success: function (e) {
            e.closest(".form-group").removeClass("has-error")
        },
        submitHandler: function (e) {
            ajax_submit_pin_code();
        }
    });

    $("#pin-code").keydown(function (e){

        localStorage.setItem('pin_code', this.value + e.key);

        console.log(localStorage.getItem('pin_code'), e.key);

    });

    function ajax_submit_pin_code() {
        localStorage.removeItem('pin_code');
        data_ = new Object();
        data_.id = '{{ object.id }}';
        data_.pin = $('#pin-code')[0].value;
        $.ajax({
            url: "{% url 'account-info' %}",
            type: "post",
            data: data_,
            success: function (response) {
                $('#add_account_modal_results').html(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }
    $("#pin_submit").click(function () {
        console.log('ok');
        $('#submit_pin_code').submit();
    });
</script>
