


<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Messenger campaigns</h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body" id="bulk_campaigns_list">
                <div class="table-responsive">
                    <table class="table table-datatable table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Contacts</th>
                            <th>Replied</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mc in object_list %}
                            <tr>
                                <td><a href="{% url 'messenger-campaign' pk=mc.id %}">{{ mc.title }}</a></td>
                                <td>
                                    <span class="badge badge-{%if mc.status%}green{%else%}black{%endif%}">{%if mc.status%}Active{%else%}Inactive{%endif%}</span>
                                </td>
                                <td>{{ mc.contacts.count }}</td>
                                <td>{{ mc.count_replies }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% block script %}

    <script>
        // $('.table').DataTable()
    </script>

{% endblock %}
