
{% extends 'v2/app/base_headless.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container-fluid">
		<div class="row">
			<div class="right-column sisu">
				<div class="row mx-0">
					<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
						<a class="signin-logo d-sm-block d-md-none" href="#">
							<img src="assets/img/logo-white.png" width="145" height="32.3" alt="QuillPro">
						</a>
						<h1 class="display-4">Password Reset Request</h1>
						<p class="lead mb-5">
							Responsive driven intuitive actionable insight hacker driven personas SpaceTeam.
						</p>
					</div>
					<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
						<br><br>
						<a class="signin-logo d-sm-none d-md-block" href="#">
							<img src="{% static 'new/img/logo-dark.png' %}" width="145" height="32.3" alt="QuillPro">
						</a>
						<form method="post">
                            {% csrf_token %}

							<p>We'll send the password reset instructions to your email.</p>
							<div class="form-group">
								{{ form.as_p }}
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<button type="submit" class="btn btn-primary btn-gradient btn-block">
								<i class="batch-icon batch-icon-mail"></i>
								Send Reset Instructions
							</button>
							<hr>
							<p class="text-center">
								Did You Remember Your Password? <a href="/login">Sign In</a>
							</p>
							<p class="text-center">
								Don't Have An Account? <a href="/register">Sign Up here</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endblock content %}
    {% block script %}
        <script>
            var msg = "{{ msg }}";
        </script>
        <script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/scripts/register.js' %}"></script>
        <script>
        $(function(){
            $('#id_email').addClass('form-control');

        })
        </script>
    {% endblock script %}


