{% load static %}
{% block footer %}
    
<footer> <span>© {% now 'Y' %} , ProspectsGenerator.com</span></footer>
<script src="{% static 'js/modernizr-2.8.3.js' %}"></script>
<script src="{% static 'js/matchMedia.js' %}"></script>
<script src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.storageapi.js' %}"></script>
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script src="{% static 'js/animo.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/screenfull.js' %}"></script>
<script src="{% static 'js/jquery.localize.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>


{% comment %}
Please just add ones are needed in page that requires


<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/jquery.flot.time.js' %}"></script>
<script src="{% static 'js/jquery.flot.categories.js' %}"></script>
<script src="{% static 'js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'js/jquery.classyloader.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>

<script src="{% static 'js/bootstrap-start.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/classyloader.js' %}"></script>
<script src="{% static 'js/clear-storage.js' %}"></script>
<script src="{% static 'js/constants.js' %}"></script>
<script src="{% static 'js/flatdoc.js' %}"></script>
<script src="{% static 'js/trigger-resize.js' %}"></script>
<script src="{% static 'js/fullscreen.js' %}"></script>
<script src="{% static 'js/gmap.js' %}"></script>
<script src="{% static 'js/load-css.js' %}"></script>
<script src="{% static 'js/localize.js' %}"></script>
<script src="{% static 'js/maps-vector.js' %}"></script>
<script src="{% static 'js/navbar-search.js' %}"></script>
<script src="{% static 'js/notify.js' %}"></script>
<script src="{% static 'js/now.js' %}"></script>
<script src="{% static 'js/panel-tools.js' %}"></script>
<script src="{% static 'js/play-animation.js' %}"></script>
<script src="{% static 'js/porlets.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/skycons.js' %}"></script>
<script src="{% static 'js/slimscroll.js' %}"></script>
<script src="{% static 'js/sparkline.js' %}"></script>
<script src="{% static 'js/table-checkall.js' %}"></script>
<script src="{% static 'js/toggle-state.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/morris.js' %}"></script>
<script src="{% static 'js/rickshaw.js' %}"></script>
<script src="{% static 'js/chartist.js' %}"></script>
<script src="{% static 'js/tour.js' %}"></script>
<script src="{% static 'js/sweetalert.js' %}"></script>
<script src="{% static 'js/color-picker.js' %}"></script>
<script src="{% static 'js/imagecrop.js' %}"></script>
<script src="{% static 'js/chart-knob.js' %}"></script>
<script src="{% static 'js/chart-easypie.js' %}"></script>
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>


Please just add ones are needed in page that requires
{% endcomment %}

{% endblock footer %}
