<tr  style="cursor: pointer !important;">
  <th style="width:10px !important; border-right:none; cursor: pointer;"></th>
  <th style="border-left:none;">Name</th>
  <th>Company</th>
  <th>Industry</th>
  <th style="width: 10%;">Title</th>
  <th>Location</th>
  <th>Latest acitvity</th>
  <th data-toggle="tooltipx" title="" data-original-title="Connection / Messenger column shows whether your contact is a part of any other Messenger Campaign or Connection Campaign." aria-describedby="tooltip352585">Connection Messenger</th>
  <th style="width: 15%;" id="th_status">Status</th>
</tr>
