<div class="pull-left" style="margin-bottom:10px;">

	<button class="btn btn-default" data-click="markRead">Mark as read</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-default" data-click="markUnread">Mark as unread</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-default" data-click="removeFromCampaign" data-cid="1">Delete</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-default" data-click="export" data-toggle="tooltip" title="Export contacts to CSV"><i class="glyphicon glyphicon-export"></i></button>
</div>