{% autoescape off %}
Welcome
Your account have been activated.

Hi {{ user.username }}, Getting started with {{site_title}} is easy.

The first thing you'll want to do is connect your LinkedIn account. To do so, just go to Add account and enter your LinkedIn credentials. Your account will take about a minute to set up.

{{site_title}} serves two main roles:

1. Growing your network and finding new leads.

- Start with creating a Connection Campaign. On the top menu, click on 'Connection'. While on the Connection page, click the 'NEW Connection CAMPAIGN' button.
- Set up steps with personalized automated messages for connection requests or a follow-up message to be sent a few hours or days after connecting, set another automated follow-up message if no response is received in a few days. This is done by clicking on the 'Steps' tab inside the Connection Campaign.
- Start with creating a Connection Campaign. On the top menu, click on 'Connection'. While on the Connection page, click the 'NEW Connection CAMPAIGN' button.
- Search for new leads by keyword, location, industry, company, title. To start a new search, go to the 'Search' on the top menu, and click on 'Start new search' on the right side.
- After the search is completed, select people you would like to be added to Connection Campaign and click 'Add selected people to Connection Campaign', or add all new people found by clicking 'Add all new people to Connection Campaign'.
2. Facilitating communication with your existing contacts.
- First, create a Messenger Campaign. On the top menu, click on 'Messenger'. While on the Messenger page, click on the 'NEW MESSENGER CAMPAIGN' button.

- Set up steps with personalized automated messages for your first message or for a follow-up message, set another automated follow-up message if no response is received in a few days. This is done by clicking on the 'Steps' tab inside the Messenger Campaign.

- To add people from your network to the Messenger Campaign click on 'My Network' in the top menu. Select people you would like to be added to Messenger Campaign and click 'Add selected people to messenger campaign', or add all filtered people by clicking 'Add all filtered people to Messenger Campaign'.


From this point, both growing your network and communicating with your existing contacts basically follows the same logic.

- See responses in the simple-to-use Inbox. To do so, go to 'Inbox' on the top menu.

- Respond directly from {{site_title}}'s panel. Select the contact you are connected with either in Inbox or in the specific campaign and send a message through 'Direct chat' on the right side.

- Mark prospects according to their interest.

Just imagine, a one-time campaign setup can put your sales on autopilot for months. After your campaign is set up, you simply sit back and relax while only responding to those leads who express interest in your product, service, etc.

Best,
{{site_title}} Team

{% endautoescape %}