<section>
    <div class="content-wrapper">
        <div class="content-heading">
            <div class="pull-right">
                <div class="btn-group"> <a type="button" href="/ConnectionMessages/Add" class="btn btn-default"><em class="icon-speech">&nbsp;</em> Add New Connection Message</a></div>
            </div>
            <div class="title-top">
                Connection Messages
                <small>Manage Connection messages here</small>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50%" class="h4">Name / Content</th>
                            <th class="h4 hidden-xs hidden-sm">Attached Campaigns</th>
                            <th class="h4 text-center hidden-xs hidden-sm">Messages Sent</th>
                            <th class="h4 text-center hidden-xs hidden-sm">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <h4><a href="please-connect-with-me.php"> <em class="icon-speech">&nbsp;</em> <strong>Please Connect with Me</strong> </a></h4>
                                <div class="text-muted"> {first_name},
                                    <br>After reviewing your profile I’d like to connect. I’m also curious if you have an immediate funding need.
                                    <br>Thanks, Jonathan http://workingcapitalloantoday.com</div>
                            </td>
                            <td class="text-muted hidden-xs hidden-sm">
                                <div class="list-group m-b">
                                    <div class="table-responsive">
                                        <table class="table table-bordered bg-transparent">
                                            <tbody>
                                                <tr>
                                                    <td> <em class="icon-grid">&nbsp;</em> <a href="#" title="My First Campaign" class="text-muted"> My First Campaign</a>
                                                        <br>
                                                        <br>
                                                    </td>
                                                    <td> <a class="btn btn-link btn-custom-link" type="button" href="#" title="Detach Campaign"><em class="fa fa-close fa-fw small"></em> </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <button data-id="9" data-toggle="modal" data-target="#myModal" class="btn btn-link"><em class="icon-paper-clip">&nbsp;</em>Attach Campaign</button>
                                    </div>
                                </div>
                            </td>
                            <td class="text-muted text-center hidden-xs hidden-sm"> <strong>&nbsp;</strong></td>
                            <td class="hidden-xs hidden-sm"> <small> 11/15/2017 <br> 9:11:25 PM </small></td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <h4><a href="new-message.php"> <em class="icon-speech">&nbsp;</em> <strong>New Message</strong> </a></h4>
                                <div class="text-muted"> {first_name},
                                    <br>After reviewing your profile I’d like to connect. I’m also curious if you have an immediate funding need.
                                    <br>Thanks, Jonathan http://workingcapitalloantoday.com</div>
                            </td>
                            <td class="text-muted hidden-xs hidden-sm">
                                <div class="list-group m-b">
                                    <table class="table table-bordered bg-transparent">
                                        <tbody></tbody>
                                    </table>
                                    <button data-id="10" data-toggle="modal" data-target="#myModal" class="btn btn-link"><em class="icon-paper-clip">&nbsp;</em>Attach Campaign</button>
                                </div>
                            </td>
                            <td class="text-muted text-center hidden-xs hidden-sm"> <strong>&nbsp;</strong></td>
                            <td class="hidden-xs hidden-sm"> <small> 11/15/2017 <br> 9:13:25 PM </small></td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <h4> <a href="new-message.php"> <em class="icon-speech">&nbsp;</em> <strong>New Message (1)</strong> </a></h4>
                                <div class="text-muted"></div>
                            </td>
                            <td class="text-muted hidden-xs hidden-sm">
                                <div class="list-group m-b">
                                    <table class="table table-bordered bg-transparent">
                                        <tbody></tbody>
                                    </table>
                                    <button data-id="17" data-toggle="modal" data-target="#myModal" class="btn btn-link"><em class="icon-paper-clip">&nbsp;</em>Attach Campaign</button>
                                </div>
                            </td>
                            <td class="text-muted text-center hidden-xs hidden-sm"> <strong>&nbsp;</strong></td>
                            <td class="hidden-xs hidden-sm"> <small> 2/22/2018 <br> 9:00:59 AM </small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
