{% extends 'app/base.html' %}
{% load static %}


{% block pagecss %}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/css-circular-prog-bar.css' %}" rel="stylesheet" type="text/css">
{#    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss">#}
    <style>
        .form-horizontal .form-group {
            margin-left: 4px;
            margin-right: 4px;
        }
    </style>
{% endblock %}

{% block title %}Home{% endblock title %}

{% block sidebar %}

{% endblock %}



{% block content %}

    <div class="col-md-4 col-md-offset-4 mt-xl">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fab fa-linkedin"></i> Accounts</h3>
                <div class="box-tools"><a href="/accounts/add/" class="btn btn-box-tool add-account"
                                          data-toggle="tooltip" title="Add account"><i class="fas fa-user-plus"></i></a>
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td width="90%">
                                {% if item.login_status %}
                                    <a href="{% url 'account-detail' pk=item.id %}">{{ item.email }}</a>
                                {% else %}
                                    <a href="#" id="inactive_account_click"
                                       data-email="{{ item.email }}"
                                       data-pass="{{ item.password }}">{{ item.email }}</a>
                                {% endif %}

                            </td>
                            <td>{% if item.login_status %}
                                <a href="{% url 'account-settings' pk=item.id %}" data-toggle="tooltip"
                                   data-original-title="" title="">Settings</a> {% endif %}</td>
                            <td>
                                <span class="label label-{% if item.status %}success{% else %}warning{% endif %}">{% if item.status %}
                                    Active{% else %}Inactive{% endif %}</span>
                            </td>

                            <td><a href="#" title="Delete" data_id="{{ item.id }}" class="remove_account"
                                   id="acc_{{ item.id }}"><i class="fa fa-remove"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>
            <div class="box-footer text-center">
                <a href="/accounts/add/" class="add-account">Add LinkedIn account</a>
            </div>
        </div>
    </div>



{% endblock %}


{% block pagefooter %}

    <div id="add_account_modal" tabindex="-1" role="dialog" aria-labelledby="Add account" aria-hidden="true"
         class="modal fade" style="display: none;">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 id="myModalLabel" class="modal-title">Add Linked Account</h4></div>
                <div class="modal-body">


                    <form class="form-horizontal" id="modal-form"
                          role="form">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="text-left col-lg-2 control-label">Email</label>
                            <input class="form-control" id="email" name="email" type="email"
                                   value="">
                        </div>
                        <div class="form-group">
                            <label class="text-left col-lg-2 control-label">Password</label>
                            <input class="form-control" id="password" name="password" type="password" value="">
                        </div>
                    </form>

                    <div id="add_account_modal_results"></div>
                </div>

                <div class="modal-footer">
                    <img id="loading_image" style="display:none" class="pull-left" width="50px"
                         src="{% static 'loading.gif' %}" alt="">
                    <button type="button" id="add_item_modal_close" class="btn btn-default">Close</button>
                    <a href="#" form="modal-form" class="btn btn-primary"
                       id="add_account">Add</a></div>
            </div>
        </div>

    </div>


    <div id="remove_account" tabindex="-1" role="dialog" aria-labelledby="Add account" aria-hidden="true"
         class="modal fade" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Delete Account</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete this account ?</h5>
                    <p class="text-red">All of your account data will be permanently deleted from B2B Prospects's
                        servers and can't be restored.</p>
                    <h5 class="text-danger">You can only use one LinkedIn account during the 7-day free trial. If you
                        delete this LinkedIn account, your free trial will end immediately. The next time you add this
                        or any other LinkedIn account, you will have to pay for it first.</h5>
                </div>

                <input type="hidden" name="cid" value="">

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a type="button" href="asdff" class="btn btn-primary add_button"
                       id="account_delete_confirm">Delete</a>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal --></div>

    <script>
        $(document).ready(function () {

            function modal_open() {
                if (typeof interval !== 'undefined') {
                    clearInterval(interval);
                }
                $('#loading_image').hide()
                $('#add_account_modal').modal('show');
                $('#add_account').show()
                $('#modal-form').show();
                $('#add_account_modal_results').html('')
            }

            $('body').on('click', '.add-account', function (e) {
                e.preventDefault();
                modal_open()
            });


            function load(data) {
                $.ajax({
                    url: '{% url 'account-info' %}',
                    type: "post",
                    data: data,
                    success: function (response) {
                        $('#modal-form').hide();
                        $('#add_account_modal_results').html(response)


                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }


                });
            }


            $('body').on('click', '#inactive_account_click', function (e) {
                e.preventDefault();
                email = this.getAttribute('data-email')
                password = this.getAttribute('data-pass')
                data = new Object();
                data.email = email
                data.password = password
                modal_open()
                $('#add_account').hide()
                load(data)
                interval = setInterval(function () {
                    load(data)
                }, 10000);
            });


            $('body').on('click', '#add_account', function (e) {
                e.preventDefault();
                $('#loading_image').show()
                $('#add_account').hide()

                data = new Object()
                data.email = $('#email')[0].value
                data.password = $('#password')[0].value
                var html = $('#add_account_modal_results').html()
                if (html.indexOf('Data_Sync') >= 0) {
                    data.task_type = 'Data_Sync'
                }
                $.ajax({
                    url: '{% url 'add-account' %}',
                    type: "post",
                    data: data,
                    success: function (response) {
                        interval = setInterval(function () {
                            load(data)
                        }, 10000);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.responseText == '400')


                            $('#add_account_modal_results').html('Account with this email is already exists')
                        else
                            $('#add_account_modal_results').html('An error occur during add this acount. please reloade this page and try again')
                        $('#loading_image').hide()
                        $('#add_account').show()
                    }


                });


            });


            $('body').on('click', '.remove_account', function (e) {
                e.preventDefault();
                linkedin_id = this.getAttribute('data_id');
                $('#account_delete_confirm')[0].href = '/accounts/remove/' + linkedin_id;
                $('#remove_account').modal('show');
            });


            $('body').on('click', '#add_item_modal_close', function (e) {
                e.preventDefault();
                $('#add_account').hide()
                window.location.href = ''
            });


        })
        ;


    </script>




{% endblock %}
