{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'new/img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'new/fonts/batch-icons/css/batch-icons.css' %}">
<link rel="stylesheet" href="{% static 'new/css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'new/css/bootstrap/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'new/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="{% static 'new/css/hamburgers/hamburgers.css' %}">
<link href="{%static 'dashboard/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
<link href="{%static 'dashboard/bower_components/jquery-confirm2/dist/jquery-confirm.min.css'%}" rel="stylesheet">
<link href="{%static 'dashboard/bower_components/izimodal/css/iziModal.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'new/fonts/font-awesome/css/font-awesome.min.css' %}">
<link href="{%static 'dashboard/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
<link href="{%static 'dashboard/bower_components/datatables.net-buttons-bs4/css/buttons.bootstrap4.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'new/plugins/jvmaps/jqvmap.min.css' %}">
<link rel="stylesheet" href="{% static 'new/css/quillpro/quillpro.css' %}">
<script type="text/javascript" src="{% static 'new/js/jquery/jquery-3.1.1.min.js' %}"></script>
