<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% include 'new/account/includes/__head.html' %}
    <title>
      {% block title %}B2B Prospects {% endblock title %}
    </title>
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
         {% include 'new/account/includes/__top_header.html' %}
          
        <div class="right-column">
        {% include 'new/account/includes/__top_menu.html' %}
            
          <main class="main-content p-5" role="main">
            {% block content %}
            {% endblock %}
          </main>
      </div>
    </div>
     {% block pagefooter %}
     {% endblock %}
  </div>
    {% include 'new/account/includes/__script.html' %}
    {% block extra_script %}
    {% endblock %}
  </body>
</html>
