{% load humanize  %}

<div class="plan {%if current_sub.plan == price%}feature bg-primary{%endif%} col-md-4">
    <h3 class="plan-title">
         Individual User
        
    </h3>
    
    
    
    <div class="plan-cost"><span class="plan-price {%if current_sub.plan == price%} bg-warning{%endif%}">${{price.amount | floatformat:0 | intcomma}}</span><span class="plan-type">/ Monthly</span>
    <br>
    <small>
     User can add additional seats and will be billed $57 per additional seat (no free trial for additional seats)
        
    
    </small>
    
    
    </div>
    <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Add your LinkedIn account and start prospecting for new leads</li>
        <li><i class="ion-checkmark"> </i> Up to <b>500</b>  results per search</li>
        <li><i class="ion-checkmark"> </i> Up to <b>10</b>  saved searches</li>
        <li><i class="ion-checkmark"> </i> Up to <b>5</b>  campaigns</li>
        <li><i class="ion-checkmark"> </i>2-way communication</li>
        <li><i class="ion-checkmark"> </i> 
            Welcome message</li>
        <li><i class="ion-checkmark"> </i>-</li>
        <li><i class="ion-checkmark"> </i>-</li>
        <li><i class="ion-checkmark"> </i>-</li>
        
        <li><i class="ion-checkmark"></i>-</li>
    </ul>
    {% include 'v2/app/includes/price_block_select.html' with price=price current_sub=current_sub %}
</div>