{% load static %}
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/velocity/velocity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/velocity/velocity.ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery_visible/jquery.visible.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/misc/ie10-viewport-bug-workaround.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/misc/holder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{%static 'dashboard/bower_components/jquery-confirm2/js/jquery-confirm.js'%}"></script>
<script src="{%static 'dashboard/bower_components/izimodal/js/iziModal.min.js'%}"></script>


    <script>
    function ___log_out(){
        $.confirm({
            title: 'Are you sure sign out?',
            icon:'fa fa-unlock',
            theme:'material',
            content: 'Are you sure Log out？',
            autoClose: 'cancel|6000',
            typeAnimated: true,
            animationSpeed: 1000,
            buttons: {
                ok: {
                    text: 'yes',
                    action: function () {
                        var strURL = "{% url 'logout' %}";
                        window.location.href = strURL;
                    }
                },
                cancel: {
                    text: 'no'
                }
            }
        });
    }
    </script>

